@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using ToSic.Sxc.Blocks
@using AppCode
@using AppCode.Data

@{
  var resources = App.Data.GetAll<Resource>();

  // Get the Id from the URL if one is selected
  var id = MyPage.Parameters.Int("resource");

  var resource = resources.Where(r => r.Id == id).FirstOrDefault();

  // Should it also show subject / unit titles?
  var showAllTrainings = MyPage.Parameters.Bool("show-all-trainings", fallback: false);
}

@* Dropdown for selecting 2sic employees *@
<select id="resourcesDropdown" class="form-select mb-4" onchange="location.href=this.value">
  <option value="@Link.To(parameters: MyPage.Parameters.Remove("resource"))">
    Select a resource
  </option>
  @foreach (var r in resources)
  {
    var selected = r.Id == id ? "selected" : "";
    var href = Link.To(parameters: r.Id == id
      ? MyPage.Parameters.Remove("resource")
      : MyPage.Parameters.Set("resource", r.Id));

    <option value="@href" @selected>@r.Title</option>
  }
</select>

@if (resource != null)  
{
  <h1 @Kit.Toolbar.Default(resource)>Resource: @resource.Title</h1>

  @Html.Partial("Resource Details.PartTables.cshtml", new { resource })
}
