@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using ToSic.Sxc.Blocks
@using AppCode
@using AppCode.Data
@using AppCode.System.SxcTables
@using AppCode.System.SxcTables.Data

@{
  Kit.Page.Activate("2sxc.JsCore");

  var viewConfigMode = MyPage.Parameters.Bool(SxcTablesConstants.UrlParamConfigMode, fallback: false);
  var itemViewId = MyPage.Parameters.String(SxcTablesConstants.UrlParamViewId, fallback: null);
  
  DataViewTableConfig item = string.IsNullOrEmpty(itemViewId) || !Guid.TryParse(itemViewId, out var parsedGuid)
    ? As<DataViewTableConfig>(MyItem)
    : App.Data.GetOne<DataViewTableConfig>(parsedGuid);
}

@* Show Switcher to toggle table configuration mode - to admins only, and not for demo since that shouldn't be modified *@
@Html.Partial("./system/sxc-tables/ToggleViewConfigMode.cshtml", new { item, viewConfigMode })

<div class="d-flex justify-content-between align-items-center mb-1">
  <h1>@item.Title</h1>
  @* The filter input will be dynamically inserted here by JavaScript *@
</div>

<div @Kit.Toolbar.Default(item)>
  @* Tabulator ID *@
  <div id="tosxc-table-@MyContext.Module.Id" />
</div>

@Kit.Page.TurnOn("window.table.createTabulatorTable()", data: new {
  tableName = "tosxc-table-" + MyContext.Module.Id,
  filterName = "tosxc-table-filter-" + MyContext.Module.Id,
  moduleId = MyContext.Module.Id,
  viewId = item.Guid.ToString()
})
<script src="@App.Folder.Url/dist/customizers.js" @Kit.Page.AssetAttributes(position: "bottom")></script>
<script src="@App.Folder.Url/system/sxc-tables/dist/table.js" @Kit.Page.AssetAttributes(position: "bottom")></script>
<link href="@App.Folder.Url/system/sxc-tables/dist/styles.min.css" rel="stylesheet">

@Html.Raw("<script src=\"https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.9\"></script>")
@Html.Raw("<script src=\"https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.13\"></script>")
@*

  - There are 2 ways of data loading immplemented 1) Call with Promise 2) Let Tabulator AJAX load
  - The Code is related to the values of the app - when outsourced needs to be more generic
 
*@