@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode
@using AppCode.Data
@using AppCode.Extensions.Radmin
@using ToSic.Sxc.Data;

@{
  var viewId = MyModel.Get<string>("viewId");
  var entityId = MyPage.Parameters.Int(
    SxcTablesConstants.UrlParamEntityId
  );

  if (!Text.Has(viewId) || entityId <= 0)
  {
    <div class="alert alert-warning">
      Missing parameters.
    </div>
    return;
  }

  var backPageParameters = MyPage.Parameters.Flush();

  var radminDetails = App.Data.GetAll<RadminDetails>()
    .Where(d => d.ViewId == viewId)
    .FirstOrDefault();

  var stream = App.Data.GetStream(radminDetails.DataContentType);
  var items = AsItems(stream).ToList();

  var entity = AsItems(stream)
    .FirstOrDefault(e => e.Id == entityId);

  var entityContentType = App.Data.GetContentType(radminDetails.DataContentType);
}


@if (entity == null)
{
  <div class="alert alert-warning">
    Entity not found in provided datasource.
  </div>
  return;
}

<div @Kit.Toolbar.Empty().Edit(entity)>
  <h2>@entity.Get("Title")</h2>

  <table class="table table-bordered mt-4">
    <tbody>
      @foreach (var attr in entityContentType.Attributes)
      {
        <tr>
          <th class="w-25 fw-normal">@attr.Name</th> @* TODO: @2pp - make group names bold *@
          <td>@entity.Get(attr.Name)</td>
        </tr>
      }
    </tbody>
  </table>
  
  <a href="@Link.To(
      parameters: backPageParameters
    )" class="btn btn-primary mt-3"
  >
    Back to Table View
  </a>
</div>
